<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registro</title>
</head>

<body>
  <h1>Registro</h1>

  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %} {% endif %} {% endwith %}

  <form method="POST">
    {{ form.hidden_tag() }}
    <div>{{ form.username.label }} {{ form.username }}</div>
    <div>{{ form.password.label }} {{ form.password }}</div>

    <!-- Nuevo campo para seleccionar el grupo -->
    <!-- <div>{{ form.group.label }} {{ form.group(class="form-select") }}</div> -->

    <div>{{ form.submit }}</div>
  </form>

  <p>
    ¿Ya tienes una cuenta? <a href="{{ url_for('login') }}">Iniciar sesión</a>
  </p>

  <script>
    // Asegúrate de que el formulario se envíe correctamente
    document.querySelector('form').addEventListener('submit', function (event) {
      event.preventDefault(); // Evita que el formulario se envíe de forma predeterminada
      this.submit(); // Envía el formulario después de realizar algunas validaciones, si es necesario
    });
  </script>
</body>

</html>